/src/.env
/src/vendor/
/src/node_modules/
/src/storage/framework/cache/data/
/src/storage/framework/sessions/
/src/storage/framework/views/
/src/storage/logs/
/src/bootstrap/cache/config.php
/src/bootstrap/cache/packages.php
/src/bootstrap/cache/services.php
/public/hot
/public/storage
/src/storage/app/public/promociones/*
!/src/storage/app/public/promociones/.gitkeep

.DS_Store
Thumbs.db
*.swp
*.swo
*~
.phpunit.result.cache
.php_cs.cache
.idea/
.vscode/
*.code-workspace
